@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #111;
}

@font-face {
  font-family: "Hanson-light";
  src: url("../../public/font/HANSON HAIRLINE.otf");
}

@font-face {
  font-family: "Hanson-bold";
  src: url("../../public/font/Hanson-Bold.ttf");
}

@font-face {
  font-family: "Gotham-bold";
  src: url("../../public/font/gothampro_bold.ttf");
}

@font-face {
  font-family: "Gotham-regular";
  src: url("../../public/font/gothampro.ttf");
}

:root {
  --base-pop-transition: transform .5s  0s;
  --base-pop-scale: scale(1.1);
  --base-pop-color: "#FF0000";
}

.zxc {
  
  transition: cubic-bezier(.2,3,.4,1);
  transition-duration: .5s;
  transition-delay: 0s;
}

.zxc:hover {
  transform: scale(1.05);
}
